* {
  transition: all 0.5s;
  box-sizing: border-box;
}
body {
  background-color: #f2f2f2;
  font-family: "Poppins", sans-serif;
}
#main-container {
  width: 85vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
#profile-summary-dashboard {
  display: flex;
  width: 100%;
  margin-top: 3vw;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
}
#skill-section {
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
}
#hobby-section {
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
}

#profile-part {
  width: 50%;
}
img {
  width: 100%;
}
#profile-pic img {
  border-radius: 20px;
  padding: 15px;
}
#profile-info {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 100%;
}
#personal-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10vh;
}
#email-num {
  color: #4f4f4f;
  font-size: 1rem;
  font-weight: 500;
}
#name-designation p,
#email-num p {
  display: contents;
}
#name-designation p {
  font-size: 1.8rem;
  color: #4f4f4f;
  font-weight: 600;
}
#name-designation p:nth-child(3) {
  font-size: 1rem;
  color: #949292;
  font-weight: 500;
}

#name-designation {
  display: flex;
}
#summary {
  font-size: 1rem;
  color: #949292;
}
#second-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 5%;
}
#hobby-skill-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#hobby-skill-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 5.2vh;
}
#blog {
  height: 40%;
}
#skill-section,
#hobby-section,
#blog,
#exp-container,
.project-head-container {
  padding: 25px;
  background-color: #ffffff;
  border-radius: 20px;
}
#blog-exp-container {
  display: flex;
  flex-direction: column;
  row-gap: 5vh;
}

#blog-exp-box {
  width: 45%;
  display: flex;
  flex-direction: column;
  row-gap: 6vh;
}

#blog-img img {
  border-radius: 20px;
}
.tech {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tech-name {
  font-weight: 500;
  font-size: 1rem;
  color: #4f4f4f;
  width: 38%;
}
.progress-bar {
  width: 58%;
  height: 10px;
  background: #c4c4c4;
  border-radius: 12px;
}
.progress {
  height: 100%;
  background: #2f80ed;
  border-radius: 12px;
}

.hobby-head {
  font-weight: 700;
  font-size: 18px;
  color: #4f4f4f;
}
.hobby-img {
  width: 100%;
  height: 20vh;
  border-radius: 12px;
  object-fit: cover;
}
.hobby-name {
  font-weight: 600;
  font-size: 18px;
  color: #333333;
}
.hobby-description {
  font-weight: 500;
  font-size: 16px;
  color: #828282;
}
#blog-section-one {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
#blog-head {
  width: 35%;
}
#blog-head h3 {
  width: 100%;
  font-size: 1.5rem;
  font-weight: 500;
}
#blog-img {
  width: 50%;
  border-radius: 50px;
}
#blog-text {
  margin-bottom: 8vh;
  color: #828282;
  font-size: 1rem;
}
.project-head-container {
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
}
#exp-container {
  height: 60%;
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
}
.company-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}
.exp-title {
  font-weight: 500;
  font-size: 24px;
  color: #4f4f4f;
}
.exp-image {
  width: 20%;
  margin-right: 20px;
}
.date {
  font-weight: 500;
  font-size: 14px;
  color: #828282;
}
.exp-designation {
  font-weight: 600;
  font-size: 16px;
  color: #333333;
}
.exp-description {
  width: 80%;
  font-weight: 500;
  font-size: 16px;
  color: #828282;
}
.project-head {
  font-weight: 500;
  font-size: 1rem;
  color: #4f4f4f;
}
.project-btn {
  width: 85px;
  height: 33px;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #4f4f4f;
  margin-right: 20px;
  cursor: pointer;
}
.project-btn:hover {
  background: #2f80ed;
  color: white;
  border: none;
}
.project-head {
  font-weight: 500;
  font-size: 18px;
  color: #4f4f4f;
}
.project-btn {
  width: 85px;
  height: 33px;
  border: 1px solid #4f4f4f;
  border-radius: 12px;
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #4f4f4f;
  margin-right: 20px;
  cursor: pointer;
}
.project-btn:hover {
  background: #2f80ed;
  color: white;
  border: none;
}
.projects-container {
  display: flex;
  column-gap: 5%;
}
.each-project {
  width: 30%;
  background-color: #fff;
  padding: 25px;
  box-shadow: 0 10px 20px rgba(7, 1, 1, 0.1);
  border-radius: 12px;
}
.project-image {
  width: 100%;
  border-radius: 12px;
  height: 200px;
}

.project-description {
  font-weight: 500;
  font-size: 16px;
  color: #828282;
}
.stacks {
  font-weight: 500;
  font-size: 16px;
  color: #4f4f4f;
}
.project-name {
  font-weight: 500;
  font-size: 24px;
  color: #333333;
}

.project-show-btn {
  width: 118px;
  height: 46px;
  border: 1px solid #2f80ed;
  border-radius: 12px;
  cursor: pointer;
}
.project-show-btn:hover {
  background-color: #2f80ed;
  color: white;
}

@media (max-width: 1300px) {
  #blog-head {
    width: 40%;
  }
  #blog-img {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .projects-container,
  #second-container {
    flex-direction: column;
  }
  #second-container {
    row-gap: 5vh;
  }
  #hobby-skill-main {
    flex-direction: column;
    width: 100%;
  }
  #profile-summary-dashboard {
    flex-direction: column;
    align-items: center;
  }
  #hobby-section {
    margin-top: 3.2vh;
  }
  #profile-pic {
    width: 100%;
  }
  #profile-part img {
    padding: 2px;
  }
  #profile-info {
    padding: 12px;
  }
  #profile-pic {
    padding: 8px;
  }
  #name-designation p {
    font-size: 1rem;
  }
  #email-num {
    font-size: 0.8rem;
  }
  #moto {
    font-size: 0.6rem;
  }
  #email-num {
    font-size: 0.8rem;
  }
  .projects-container {
    flex-direction: column;
    row-gap: 5vh;
  }
  .each-project {
    width: 100%;
  }
  .each-project img {
    height: 400px;
  }
}
@media (max-width: 480px) {
  #main-container {
    width: auto;
  }
  #profile-part {
    width: 70%;
  }
  #personal-details {
    row-gap: 15px;
    align-items: center;
    flex-direction: column;
  }
  #skill-section,
  #hobby-section,
  #blog,
  #exp-container,
  .project-head-container {
    width: 96vw;
  }
  #summary {
    font-size: 0.8rem;
  }
  .project-image {
    width: 100%;
  }
  .each-project img {
    height: 250px;
  }
  .each-project {
    width: 97vw;
  }
}
